<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Учет рабочего времени</title>
</head>
 <body id="altbody">
  <h1>Учет работчего времени</h1>

    
  <div class='wrapper'>
    <h1>Посещение работы</h1>
          <table>
              <thead><th>Время</th></thead>
              {{range .TimeIn }}
              <tr>
                  <td>{{.Timein}}</td>
              </tr>
              {{end}}
          </table>


          <h1>Выход с работы</h1>
          <table>
            <thead><th>Время</th></thead>
            {{range .TimeOut }}
            <tr>
                <td>{{.Timeout}}</td>
            </tr>
            {{end}}
        </table>


  </div>
   

</form>
 
</html>



</body>
</html>

